@model TechSupport.Models.Product
@{
    ViewBag.Title = "AddProducts";
}
<script src="~/Content/main.js" defer></script>
<h2>Add | Edit Products</h2>

@using (Html.BeginForm("AddProducts", "Products", FormMethod.Post, new { @class = "addProductForm" }))
{
    <div class="col-md-12">
        <fieldset class="addProducts">
            <legend>Product Details: </legend>
            <div class="fieldDetails">
                <div class="information1">
                    <h5>Code</h5>
                    @Html.TextBoxFor(p => p.ProductCode, new { @class = "form-control", @placeholder = "Code..." })
                </div>
                <div class="information2">
                    <h5>Name</h5>
                    @Html.TextBoxFor(p=> p.Name, new { @class = "form-control", @placeholder = "Name..." })
                </div>
                <div class="information3">
                    <h5>Version</h5>
                    @Html.TextBoxFor(p => p.Version, new { @class = "form-control", type="number", @placeholder = "Version..." })
                </div>
                <div class="information4">
                    <h5>Release Date</h5>
                    @if (Model == null)
                    {
                        @Html.TextBoxFor(p => p.ReleaseDate, new { @class = "form-control", type = "date", @Value = DateTime.Today.ToShortDateString()})
                    }
                    else
                    {
                        @Html.TextBoxFor(p => p.ReleaseDate, new { @class = "form-control", type = "date", @Value = Model.ReleaseDate.ToShortDateString() })
                    }

                </div>                
                <input class="submit" type="submit" value="Submit" />
            </div>
        </fieldset>
    </div>
}