@model TechSupport.Models.AddIncidentList

@{
    ViewBag.Title = "AddIncidents";
}
<script src="~/Content/main.js" defer></script>
<h2>Add | Edit Incidents</h2>


@using (Html.BeginForm("AddIncidents", "Incidents", FormMethod.Post, new { @class = "addIncidentForm" }))
{
    <div class="col-md-12">
        <fieldset class="addIncidents">
            <legend>Product Details: </legend>
            <div class="fieldDetails">
                <div class="information1">
                    <h5>Customer</h5>
                    @Html.DropDownListFor(m => m.Incident.CustomerID, new SelectList(Model.Customers, "CustomerID", "Name"), new { @class = "form-control", @placeholder = "Customer..." })
                </div>
                <div class="information2">
                    <h5>Product</h5>
                    @Html.DropDownListFor(m => m.Incident.ProductCode, new SelectList(Model.Products, "ProductCode", "Name"), new { @class = "form-control", @placeholder = "Product..." })
                </div>
                <div class="information3">
                    <h5>Technician</h5>
                    @Html.DropDownListFor(m => m.Incident.TechID, new SelectList(Model.Technicians, "TechID", "Name"), new { @class = "form-control", @placeholder = "Product..." })
                </div>
                <div class="information4">
                    <h5>Date Opened</h5>
                    @if (Model.Incident.ProductCode == null)
                    {
                        @Html.TextBoxFor(m => m.Incident.DateOpened, new { @class = "form-control", type = "date", @Value = DateTime.Today.ToShortDateString() })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Incident.DateOpened, new { @class = "form-control", type = "date", @Value = Model.Incident.DateOpened.ToShortDateString() })
                    }
                </div>
                <div class="information5">
                    <h5>Date Closed</h5>
                    @Html.TextBoxFor(m => m.Incident.DateClosed, new { @class = "form-control", type = "date", @Value = Model.Incident.DateClosed})
                </div>
                <div class="information6">
                    <h5>Title</h5>
                    @Html.TextBoxFor(m => m.Incident.Title, new { @class = "form-control", @placeholder = "Title..." })
                </div>
                <div class="information7">
                    <h5>Description</h5>
                    @Html.TextBoxFor(m => m.Incident.Description, new { @class = "form-control", @placeholder = "Description..." })
                </div>
                <input class="submit" type="submit" value="Submit" />
</fieldset>
    </div>
}