@model List<TechSupport.Models.Incident>
@{
    ViewBag.Title = "IncidentsDisplay";
}
<script src="~/Content/main.js" defer></script>

<div class="header">
    <h1>Incidents</h1>

    <div class="right-content">
        @using (Html.BeginForm("IncidentsDisplay", "Incidents", FormMethod.Get))
        {
            <div class="searchArea">
                <input type="text" name="searchIncidents" placeholder="Search...">
                <input type="submit" name="submit" value="🔍" />
            </div>
        }


        <div class="add-link">
            @Html.ActionLink("Add New Incident", "AddIncidents", "Incidents")
        </div>
    </div>
</div>

<div class="col-md-12">
    <table id="Incidents Table" class="table">
        <thead>
            <tr>
                <th scope="col">Incident ID</th>
                <th scope="col">Customer ID</th>
                <th scope="col">Product Code</th>
                <th scope="col">Tech ID</th>
                <th scope="col">Date Opened</th>
                <th scope="col">Date Closed</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td scope="row">
                        @i.IncidentID
                    </td>
                    <td scope="row">
                        @i.CustomerID
                    </td>
                    <td scope="row">
                        @i.ProductCode
                    </td>
                    <td scope="row">
                        @if (i.TechID == null)
                        {
                            <p>N/A</p>
                        }
                        else
                        {
                            @i.TechID
                        }
                    </td>
                    <td scope="row">
                        @i.DateOpened.ToShortDateString()
                    </td>
                    <td scope="row">
                        @if (i.DateClosed == null)
                        {
                            <p>N/A</p>
                        }
                        else
                        {
                            @i.DateClosed
                        }
                    </td>
                    <td scope="row">
                        @i.Title
                    </td>
                    <td scope="row">
                        @i.Description
                    </td>
                    <td scope="row">
                        <a href="/Incidents/AddIncidents/@i.IncidentID">Edit</a> 
                        <form class="deleteIncidentsForm" action="/Incidents/DeleteIncidents">
                            <input type="number" style="display:none" name="txtIncidentID" value="@i.IncidentID" />                            
                            <input type="submit" class="link-button" value="Delete" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination">
    </ul>
</nav>

<script>
    window.addEventListener('load', function () {
        var page = parseInt('@ViewBag.page');
        var top = parseInt('@ViewBag.top');
        var totalItems = parseInt('@ViewBag.totalIncidents');
        var searchTerm = ('@ViewBag.searchTerm');
        var baseURL = "/Incidents/IncidentsDisplay";
        var entity = ('@ViewBag.entity');

        createPaging(page, top, totalItems, baseURL, searchTerm, entity);
    });
</script>